<!-- <div *ngFor="let item of assignments" [ngStyle]="{'color': item.submitted === false ? 'red': 'green' }"> -->
<!-- <div *ngFor="let item of assignments" [ngClass]="{'submitted':item.submitted === true, 'unsubmitted':item.submitted === false }" > -->
  <form ngForm #assignmentsForm class="form">

    <mat-form-field>
      <input 
      #assignmentName 
      [matDatepicker]="picker" 
      [(ngModel)]="dueDate"  
      [ngModelOptions]="{standalone: true}"
      name="name"
      placeholder="When is assignment?">  
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker>
      </mat-datepicker>
    </mat-form-field>

    <button mat-stroked-button
    [disabled]="!enabled"
    (click)="onSubmit(); assignmentsForm.reset()"
    color="primary">
      Add Assignment
    </button>
  </form>
  <p>{{name}}</p>
  <p>{{dueDate}}</p>
  <div *ngFor="let item of assignments">
 <p appSubmitted *ngIf="item.submitted; else unsubmitted">The Assignment {{item.name}} is Submitted</p>
 <ng-template  #unsubmitted >The Assignment {{item.name}} is NOT Submitted</ng-template>
</div>
