.del {
  background-color: red;
  color: white;
  float: right;
  cursor: pointer;
}
.todo {
   border-bottom: black solid thin;
   padding: .5em;
  }

.check {
  text-decoration: line-through;
}

p {
  margin: 0em;
}
